<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reboard">
	
	<select id="getTotalCountOfReboard" resultType="int">
		select count(*) from reboard
	</select>
	
	<!-- num의 max값 null인 경우는 0..MaxNum 구하기 -->
	<select id="MaxNumOfReboard" resultType="int">
		select ifnull(max(num),0) from reboard
	</select>
	
	<!--같은 group중에서 step보다 큰 데이터는 모두 +1   -->
	<update id="updateStepOfReboard" parameterType="HashMap">
		update reboard set restep=restep+1 where regroup=#{regroup} and restep>#{restep}
	</update>
	
	<!-- 원글과 새글 모드 해당하는 insert -->
	<insert id="insertOfReboard" parameterType="redto">
		insert into reboard (writer,pass,subject,content,photo,regroup,restep,relevel,writeday) values(#{writer},#{pass},#{subject},#{content},#{photo},#{regroup},#{restep},#{relevel},now())
	</insert>
	
	<!--페이징처리하는 전체리스트  -->
	<!-- StartPage,PerPage 보낼거라서  HashMap  -->
	<select id="getAllPagingOfReboard" parameterType="HashMap" resultType="redto">
		select * from reboard order by regroup desc,restep asc limit #{start},#{perpage}
	</select>
	
	<!--페이징 처리 아니고 그냥 리스트  -->
	<select id="listReboardTest" resultType="redto">
		select * from reboard order by num asc
	</select>
	
	<!-- 0410 이어서...~~~ -->
	<!--조회수  -->
	<update id="UpdateReadCountOfReboard" parameterType="int">
		update reboard set readcount=readcount+1 where num=#{num}
	</update>
	<!--num에 해당하는 dto  -->
	<select id="getDataOfReboard" parameterType="int" resultType="redto">
		select * from reboard where num=#{num}
	</select>
	
	<!--수정 삭제에 필요한 num,pass 맞으면 1 틀리면 0 반환 -->
	<select id="checkEqualPassOfReboard" resultType="int" parameterType="HashMap">
		select count(*) from reboard where num=#{num} and pass=#{pass}
	</select>
	
	<!--삭제  -->
	<delete id="deleteReborad" parameterType="int">
		delete from reboard where num=#{num}
	</delete>
	
	<!--수정  -->
	<update id="updateOfReboard" parameterType="redto">
		update reboard set writer=#{writer},subject=#{subject},content=#{content}
		<if test="photo!='no'"> 
		 ,photo=#{photo}
		</if>
		where num=#{num}
	</update>
	
	
</mapper>